<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
  <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../Desktop/2017.07.14香樟大道/css/weui.min-xz-diy.css"/>
<title>资讯详情</title>
</head>
<body class="grbg">
<div class="bm xzdd-list">
  <header class='demos-header'>
    <h3 style="padding:10px 10px 0px 10px;" class="demos-title">买了车以后，这些加装的配件到底要不要买？</h3>
  </header>

  <span class="little-list"><img class="bmingyd" src="../../resources/images/sj@3x.png" style="width: 18px;vertical-align: middle;margin-top: -4px">&nbsp;2016-01-02</span>
  <span class="little-list"><img class="bmingyd" src="../../resources/images/zf.png" style="width: 18px;vertical-align: middle;margin-top: -4px">&nbsp;201</span>
  <span class="little-list"><img class="bmingyd" src="../../resources/images/ydll@3x.png" style="width: 18px;vertical-align: middle;margin-top: -4px">&nbsp;2256</span>
  <span class="little-list"><img class="bmingyd" src="../../resources/images/dz.png" style="width: 18px;vertical-align: middle;margin-top: -4px">&nbsp;2256</span>

  <article style="margin-top:10px;" class="weui_article">
    <section>
      <img src="../../resources/images/111.png" width="100%">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
  </article>
</div>
<div class="weui_panel weui_panel_access xzdd-list">
  <div class="weui_panel_bd">
    <div class="weui_media_box weui_media_text">
      <p class="weui_media_desc_one">浏览记录<i style="font-size: 12px">（100）</i>
        <i style="color: #4b4b4b;float: right;font-size: 14px;">查看更多></i></p>
    </div>
    <div class="weui_media_box weui_media_text" style="padding:10px; height:47px;">
      <img class="imgtoux" src="../../resources/images/moren.png">
      <img class="imgtoux" src="../../resources/images/moren.png">
      <img class="imgtoux" src="../../resources/images/moren.png">
      <img class="imgtoux" src="../../resources/images/moren.png">
      <img class="imgtoux" src="../../resources/images/moren.png">
      <img class="imgtoux" src="../../resources/images/moren.png">
      <img class="imgtoux" src="../../resources/images/moren.png">
      <img class="imgtoux" src="../../resources/images/moren.png">
    </div>
  </div>
</div>
<p style="height:20px"></p>
</body>
</html>