<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://security.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>资讯列表</title>

    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Morris -->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.3.css" rel="stylesheet">

    <!--checkbox-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

    <!--datetimepick-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/datetimepick/daterangepicker.css" rel="stylesheet"/>
</head>

<body class="gray-bg" data-unitTest="false" data-prototype="true"
      data-url-infoListsCount="../assets/mock/infoLists.json"
      data-url-edit="infoEdit.html"
      th:attr="data-url-infoLists=@{/mall/count}
      ,data-url-edit=@{/mall/edit}"
>

<div class="wrapper wrapper-content animated fadeInRight tooltip-demo">
    <!--search-->
    <!--<form role="form" class="search-panel">-->
        <div class="row">


            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div>
                        <label class="">资讯筛选</label>
                    </div>

                    <!--/*@thymesVar id="informationSearch" type="com.huotu.scrm.common.utils.InformationSearch"*/-->
                    <form class="search-panel" method="get" action="#" th:action="@{/mall/infoLists}" id="searchForm">
                        <div class="ibox-content p-m no-borders">
                            <div class="form-inline ">
                                <div class="form-group m-r-sm">
                                    <label class="control-label" for="searchCondition">标题关键字：</label>
                                    <input type="text" class="form-control input-sm mb10" id="searchCondition" name="searchCondition"
                                       th:value="${informationSearch.searchCondition}" placeholder="资讯标题"/>
                                    <button type="button"  class="btn btn-success js-search">筛选</button>
                                    <button type="button"  class="btn btn-success js-searchAll">显示全部</button>
                                </div>
                            </div>
                        </div>
                     </form>

                </div>
            </div>
        </div>
    <!--</form>-->
    <!--search-->

    <!--list-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins m-b-none">
                <div class="ibox-content p-xxs no-top-border">

                    <div>
                        <label class="">资讯管理</label>
                    </div>

                    <!--添加资讯按钮-->
                    <div style="text-align:right;">
                        <button id="btnAddArticle" class="btn btn-w-m btn-success" type="button" onclick="articleHelper.edit(0)">添加资讯</button>
                    </div>


                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-center">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>资讯标题</th>
                                <th>资讯简介</th>
                                <th>创建时间</th>
                                <th>发布状态</th>
                                <th>推广状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">
                            <!--/*@thymesVar id="infoLists" type="java.util.List<com.huotu.scrm.service.entity.info.Info>"*/-->
                            <tr th:each="info ,infoState: ${infoLists}">
                                <td th:text="${infoState.index+1}">1</td>
                                <td style="width: 20%;">
                                    <p style="width: 100%; height: 50px;">
                                        <!--资讯标题-->

                                        <a>
                                            <span  class="font-hidden" style="width: 95%;float: left;" th:text="${info.title}">
                                                习近平对司法体制改革作出重要指示引起热烈反响
                                            </span>
                                        </a>

                                    </p>
                                </td>
                                <td style="width: 20%;">
                                    <span class="font-hidden" style="width: 95%;float: left;" th:text="${info.content}">
                                                连日来，习近平总书记的重要指示在广大法律工作者中引起热烈反响。大家表示，要认真领会
                                        总书记的重要指示，指导司法体制改革创新实践，不断完善和发展中国特色社会主义司法制度，为加快建设社会主义法治国家作出新贡献。
                                    </span>
                                </td>
                                <td th:text="${#dates.format(info.createTime, 'yyyy-MM-dd HH:mm:ss')}">2017-07-12 12:12:34</td>
                                <td th:text="${info.isStatus()?'发布':'未发布'}">未发布</td>
                                <td th:text="${info.isExtend()?'是':'否'}">是</td>
                                <td>
                                    <span class="cursor-point">
                                        <a href="infoEdit.html" th:href="@{/mall/edit}"><i class="fa fa-pencil tooltips"  data-toggle="tooltip" data-original-title="编辑"></i></a>
                                    </span>
                                    &nbsp;

                                    <span class="cursor-point">
                                        <i class="fa fa-pencil tooltips"  data-toggle="tooltip" data-original-title="转发记录"></i>
                                    </span>
                                    &nbsp;

                                    <span class="cursor-point">
                                        <i class="fa fa-pencil tooltips"  data-toggle="tooltip" data-original-title="浏览记录"></i>
                                    </span>
                                    &nbsp;

                                    <span onclick="goodListHandler.deleteGood(1)" class="cursor-point">
                                        <i class="fa fa-trash tooltips"
                                           data-placement="top" data-toggle="tooltip" data-original-title="删除"></i>
                                    </span>
                                    &nbsp;

                                </td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td style="width: 20%;">
                                    <p style="width: 100%; height: 50px;">
                                        <!--资讯标题-->
                                            <span class="font-hidden" style="width: 95%;float: left;">
                                                习近平对司法体制改革作出重要指示引起热烈反响
                                            </span>
                                    </p>
                                </td>
                                <td style="width: 20%;">
                                    <span class="font-hidden" style="width: 95%;float: left;">
                                                连日来，习近平总书记的重要指示在广大法律工作者中引起热烈反响。大家表示，要认真领会
                                        总书记的重要指示，指导司法体制改革创新实践，不断完善和发展中国特色社会主义司法制度，为加快建设社会主义法治国家作出新贡献。
                                    </span>
                                </td>
                                <td>2017-07-12 12:12:34</td>
                                <td>已发布</td>
                                <td>是</td>
                                <td>
                                    <span class="cursor-point">
                                        <i class="fa fa-pencil tooltips"  data-toggle="tooltip" data-original-title="编辑"></i>
                                    </span>
                                    &nbsp;

                                    <span class="cursor-point">
                                        <i class="fa fa-pencil tooltips"  data-toggle="tooltip" data-original-title="转发记录"></i>
                                    </span>
                                    &nbsp;

                                    <span class="cursor-point">
                                        <i class="fa fa-pencil tooltips"  data-toggle="tooltip" data-original-title="浏览记录"></i>
                                    </span>
                                    &nbsp;

                                    <span onclick="goodListHandler.deleteGood(1)" class="cursor-point">
                                        <i class="fa fa-trash tooltips"
                                           data-placement="top" data-toggle="tooltip" data-original-title="删除"></i>
                                    </span>
                                    &nbsp;

                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <p id="infoListAmount" style="float: left; margin: 20px 0;">共1条记录，当前第1/1，每页5条记录</p>
                        <ul style="float: right;" class="pagination pagination-split">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--基础框架js-->
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/content.min.js"></script>

<!--日期选择-->
<!--<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/datetimepick/js/moment.js"></script>-->
<!--<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/datetimepick/js/daterangepicker.js"></script>-->
<!--file-->
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<!--validate-->
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/jquery.validate.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/additional-methods.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/localization/messages_zh.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/hot/bootstrap.hot.extra-validate.js"></script>

<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/SearchableSelect/jquery.searchableSelect.js"></script>

<script src="../js/plugins/hot/bootstrap.hot.extra-utils.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/hot/bootstrap.hot.extra-init.js"></script>


<!--luohaibo-->
<script src="../js/infoJs/infoLists.js"></script>

<!--<script th:inline="javascript">-->
    <!--/*<![CDATA[*/-->
    <!--var SIGN_IN = /*[[@{/passwordAuth}]]*/ '/portal/signIn';-->
    <!--var REGISTER = /*[[@{/portal/registerHotUser}]]*/ '/portal/register';-->
    <!--var MODIFY_PASS = /*[[@{/portal/modifyPassword}]]*/ '/portal/modify/password';-->
    <!--var VALID_MOBILE = /*[[@{/portal/validLoginName}]]*/ '/portal/validLoginName';-->
    <!--var SEND_AUTH_CODE = /*[[@{/portal/sendAuthCode}]]*/ '/portal/sendAuthCode';-->
    <!--var IMAGE_CODE = /*[[@{/portal/getImage}]]*/ 'http://www.huotaolianmeng.com/portal/getImage';-->
    <!--/*]]>*/-->
<!--</script>-->


<!--<style>-->
    <!--.btn-success{-->

    <!--}-->
<!--</style>-->
<script type="text/javascript">
    var pageIndex = 1;
    var totalPage = 20;
    var pageSize = 5;

    $(function () {

        var url = $("body").attr("data-url-infoLists");
        $.ajax({
            type: 'GET',
            url: url,
            data: {
                page:0
            },
            dataType: 'json',
            success: function (data) {
                var amount = data.data.amount;


                $("#infoListAmount").text("共"+amount+"条记录，当前第1/"+Math.ceil(amount/pageSize)+"，每页5条记录");
                //初始化分页
                var pageinate = new hot.paging(".pagination", pageIndex, (amount / pageSize), (amount / pageSize));

                pageinate.init(function (p) {

                    $("#infoListAmount").text("共"+amount+"条记录，当前第"+p+"/"+Math.ceil(amount/pageSize)+"，每页5条记录");
                });

            },
            error: function (jqXHR, textStatus) {

            }
        });



    });



    var goodListHandler = {
        deleteGood: function (goodId) {
            hot.confirm("确定要删除该商品?", function () {
                hot.tip.success("删除成功");
            })
        }
    }

</script>
</body>

</html>
