<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/weui.min-xz-diy.css"/>
    <title>推广中心</title>
</head>
<body class="grbg">
<div style="position: fixed;top:0px;left:0px;right:0px; z-index:99999">
    <div class="sl-ka superli" style="font-size:12px">
        <ul class="sl-float-ul ka  pjf_5ge custom-paixu">
            <li class="on">
                <a href="#">
                    推广中心
                </a>
            </li>
        </ul>
    </div>
</div>
<p style="height:30px"></p>
<div class="weui_cells weui_cells_access">
    <a class="weui_cell" href="/site/extension/getScoreRanking">
        <div class="weui_cell_bd weui_cell_primary">
            <p>点击查看明细</p>
        </div>
        <div class="weui_cell_ft" style="font-size:12px"></div>
    </a>
</div>
<div class="dailiren-s-ka duu">
    <ul class="dailiren-float-ul ka  pjf_4ge ">
        <li>
            <a href="javascript:void(0);">
                <p class="sj" th:unless="${statisticalInformation.dayVisitorRanking}>0">--</p>
                <p class="sj" th:if="${statisticalInformation.dayVisitorRanking}>0"
                   th:text="${statisticalInformation.dayVisitorRanking}"></p>
                <p>今日UV排名</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <p class="sj" th:text="${statisticalInformation.dayVisitorNum}"></p>
                <p>创造UV</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <p class="sj" th:text="${statisticalInformation.dayScore}"></p>
                <p>今日预计积分</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <p class="sj" th:text="${statisticalInformation.accumulateScore}"></p>
                <p>累计积分</p>
            </a>
        </li>
        <li th:if="${status}">
            <a href="javascript:void(0);">
                <p class="sj" th:text="${statisticalInformation.followNum}"
                ></p>
                <p>关注人数</p>
            </a>
        </li>
    </ul>
</div>
<p style="height: 10px"></p>
<div class="xzdd-list">
    <div class="weui_panel" th:each="infoModel:${infoModes}"
         th:onclick="'javascript:getInfoDetail('+${infoModel.infoId}+','+${infoModel.customerId}+')'">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" th:src="${infoModel.thumbnailImageUrl}" alt="">
                </div>
                <div class="left-font">
                    <h4 class="weui_media_title" th:text="${infoModel.title}"></h4>
                    <p class="weui_media_desc" th:text="${infoModel.introduce}"></p>
                    <ul class="weui_media_info" style="float: left">
                        <li class="weui_media_info_meta"><img src="../../resources/images/zf.png" width="100%"
                                                              th:text="${infoModel.forwardNum}"></li>
                        <li class="weui_media_info_meta"><img src="../../resources/images/ydll@3x.png"
                                                              style="width: 18px;" th:text="${infoModel.visitorNum}">
                        </li>
                        <li class="weui_media_info_meta weui_media_info_meta_extra"><img
                                src="../../resources/images/three.png" width="100%"
                                th:text="${infoModel.releaseTime}+小时前">
                        </li>
                    </ul>
                    <button type="button" class="tuiguang"
                            th:onclick="'javascript:getInfoDetail('+${infoModel.infoId}+','+${infoModel.customerId}+')'">
                        推广
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    function getInfoDetail(infoId, customerId) {
        window.location.href = "/site/info/infoDetail?infoId=" + infoId + "&customerId=" + customerId;
    }
</script>