<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/weui.min-xz-diy.css"/>
    <title>资讯推广</title>
</head>
<body class="grbg">
<div>
    <p class="joinus">亲，赶紧加入小伙伴计划赚取积分吧！<a th:if="${not #lists.isEmpty(infoConfigure)}" th:href="@{${infoConfigure.infoIntroduceUrl}}">点击查看</a></p>
</div>
<div class="xzdd-list">
    <div class="weui_panel" th:each="infoModel:${infoModes}"
         th:onclick="'javascript:getInfoDetail('+${infoModel.infoId}+','+${infoModel.customerId}+')'">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb"
                         th:src="${infoModel.thumbnailImageUrl}"
                         alt="">
                </div>
                <div class="left-font">
                    <h4 class="weui_media_title" th:text="${infoModel.title}"></h4>
                    <p class="weui_media_desc" th:text="${infoModel.introduce}"></p>
                    <ul class="weui_media_info">
                        <li class="weui_media_info_meta"><img src="../../resources/images/zf.png" width="100%"
                                                              th:text="${infoModel.forwardNum}">
                        </li>
                        <li class="weui_media_info_meta"><img src="../../resources/images/ydll@3x.png"
                                                              style="width: 18px;"
                                                              th:text="${infoModel.visitorNum}">
                        </li>
                        <li class="weui_media_info_meta weui_media_info_meta_extra">
                            <img src="../../resources/images/three.png" width="100%"
                                 th:text="${infoModel.releaseTime}">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script type="text/javascript">
    function getInfoDetail(infoId, customerId) {
        window.location.href = "/site/info/infoDetail?infoId=" + infoId + "&customerId=" + customerId;
    }
</script>