<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>活动编辑</title>
    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.8.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/datetimepick/daterangepicker.css" rel="stylesheet"/>
    <!--<link href="../../resources/css/daterangepicker.css" th:src="@{/resources/css/daterangepicker.css}" rel="stylesheet">-->
    <link href="https://cdn.bootcss.com/summernote/0.8.8/summernote.css" rel="stylesheet">
</head>

<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight tooltip-demo">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>活动编辑信息</h5>
        </div>
        <div class="ibox-content">
            <form method="post" class="form-horizontal" id="actDetail" th:action="@{/mall/act/save}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">活动类型:</label>
                    <div class="col-sm-2">
                        <select class="form-control input" id="actType">
                            <option selected="selected" value="0">幸运大转盘</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" th:value="${activity.actId}" name="actId"/>
                <input name="actType" type="hidden">
                <input name="openStatus" type="hidden" th:value="${activity.openStatus}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">活动标题:</label>
                    <div class="col-sm-3">
                        <input type="text" placeholder="活动标题" class="form-control" th:value="${activity.actTitle}"
                               maxlength="20"
                               name="actTitle" required>
                    </div>
                </div>
                <div class="form-group m-r-sm">
                    <label class="col-sm-3 control-label" for="actTime">活动时间:</label>
                    <div class="col-sm-3">
                        <input type="text" id="actTime" class="form-control"
                               placeholder="开始时间-结束时间" required/>
                        <input type="hidden" id="startDate" name="startDate"
                               th:value="${activity.startDate != null ? #temporals.format(activity.startDate,'yyyy-MM-dd HH:mm:ss') : ''}"/>
                        <input type="hidden" id="endDate" name="endDate"
                               th:value="${activity.endDate != null ? #temporals.format(activity.endDate,'yyyy-MM-dd HH:mm:ss') : ''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">游戏消耗积分:</label>
                    <div class="col-sm-3">
                        <input type="number" placeholder="游戏消耗积分" class="form-control" maxlength="10"
                               id="gameCostlyScore"
                               th:value="${activity.gameCostlyScore}" name="gameCostlyScore" required>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">规则简介:</label>
                    <div class="col-sm-8">
                        <div class="ibox-content no-padding">
                            <input type="hidden" name="ruleDesc" id="ruleDescContent" th:value="${activity.ruleDesc}"
                            >
                            <div style="display: none;" class="rule_summerNote" id="ruleDesc"
                                 th:utext="${activity.ruleDesc}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">概率简介:</label>
                    <div class="col-sm-8">
                        <div class="ibox-content no-padding">
                            <input type="hidden" name="rateDesc" id="rateDescContent" th:value="${activity.rateDesc}"
                                   required>
                            <div style="display: none;" class="rate_summerNote" id="rateDesc"
                                 th:utext="${activity.rateDesc}"
                            >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-5">
                        <button class="btn btn-sm btn-success" type="button" onclick="actDetailHandler.screen()">保存
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--基础框架js-->
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="../../resources/js/plugins/hot/bootstrap.hot.extra-utils.js"
        th:src="@{/resources/js/plugins/hot/bootstrap.hot.extra-utils.js}"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/content.min.js"></script>

<!--validate-->
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/jquery.validate.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/localization/messages_zh.min.js"></script>
<script src="../../resources/js/summernote/summernote.js" th:src="@{/resources/js/summernote/summernote.js}"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/summernote/summernote-zh-CN.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/datetimepick/moment.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/datetimepick/daterangepicker.js"></script>
<script type="text/javascript">
    var ruleDetail;
    var rateDetail;
    var customerId = [[${customerId}]];
    $("#actTime").on('cancel.daterangepicker', function () {
        $("#actTime").val("");
        $("#startDate").val("");
        $("#endDate").val("");
    });
    $('#actTime').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm:ss') + ' - ' + picker.endDate.format('YYYY-MM-DD HH:mm:ss'));
        $('#startDate').val(picker.startDate.format('YYYY-MM-DD HH:mm:ss'));
        $("#endDate").val(picker.endDate.format('YYYY-MM-DD HH:mm:ss'));
    });
    //初始化时间控件
    $('#actTime').daterangepicker(
        {
            showDropdowns: true,
            showWeekNumbers: false, //是否显示第几周
            timePicker: true, //是否显示小时和分钟
            timePickerIncrement: 60, //时间的增量，单位为分钟
            timePicker12Hour: false, //是否使用12小时制来显示时间
            opens: 'right', //日期选择框的弹出位置
            buttonClasses: ['btn btn-default'],
            applyClass: 'btn-small btn-primary blue',
            cancelClass: 'btn-small',
            autoUpdateInput: false,
            format: 'YYYY-MM-DD HH:mm:ss', //控件中from和to 显示的日期格式
            separator: ' to ',
            locale: {
                applyLabel: '确定',
                cancelLabel: '取消',
                fromLabel: '起始时间',
                toLabel: '结束时间',
                customRangeLabel: '自定义',
                daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                    '七月', '八月', '九月', '十月', '十一月', '十二月'],
                firstDay: 1
            }
        }, function (start, end) {//格式化日期显示框
            $('#actTime input').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
            $('#startDate').val(start.format('YYYY-MM-DD HH:mm:ss'));
            $("#endDate").val(end.format('YYYY-MM-DD HH:mm:ss'));
        });
    var startDate = $("#startDate").val();
    if (startDate == null) {
        startDate = "";
    }
    var endDate = $("#endDate").val();
    if (endDate == null) {
        endDate = "";
    }
    $("#actTime").val(startDate + " " + endDate);

    $("#actDetail").validate({
        ignore: [],
        rules: {
            ruleDesc: "required",
            rateDesc: "required",
            startDate: "required",
            endDate: "required",
            gameCostlyScore: {min: 1}

        },
        messages: {
            startDate: "开始时间不能为空",
            endDate: "结束时间不能为空",
            ruleDesc: "请填写规则简介",
            rateDesc: "请填写概率简介",
            gameCostlyScore: "消耗积分必须大于0",
            actTitle: "活动标题不能为空"
        }
    });
    var actDetailHandler = {
        screen: function () {
            var str = "<p><br></p>";
            var rateDesc = $("#rateDesc").summernote('code');
            var ruleDesc = $("#ruleDesc").summernote('code');
            if (ruleDesc == str) {
                $("#ruleDescContent").val("");
            } else {
                $("#ruleDescContent").val(ruleDesc);
            }
            if (rateDesc == str) {
                $("#rateDescContent").val("");
            } else {
                $("#rateDescContent").val(rateDesc);
            }
            var actType = $("#actType").val();
            if (actType == 0) {
                $("input:hidden[name='actType']").val("ACT_TURNTABLE");
            }
            $("#actDetail").valid();
            $("#actDetail").submit();
        },
        sendFile: function (file, editor, $editors, type) {
            var data = new FormData();
            data.append("btnFile", file);
            data.append("customerId", customerId);
            $.ajax({
                data: data,
                type: "POST",
                url: "/common/upload",
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.result == 1) {
                        if (type == 0) {
                            ruleDetail.summernote('insertImage', data.fileUrl);
                        } else {
                            rateDetail.summernote('insertImage', data.fileUrl);
                        }
                    }
                },
                error: function (data) {
                    hot.tip.error("上传图片失败！");
                }
            })
        }
    }
    $(function () {
        ruleDetail = $('.rule_summerNote').summernote({
            height: 300,
            minHeight: 200,
            maxHeight: 400,
            focus: true,
            lang: 'zh-CN',
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['picture']],
                ['codeview', ['codeview']]
            ],
            callbacks: {
                onImageUpload: function (files, editor, $editors) { //the onImageUpload API
                    actDetailHandler.sendFile(files[0], editor, $editors, 0);
                }
            }
        });
        rateDetail = $('.rate_summerNote').summernote({
            height: 300,
            minHeight: 200,
            maxHeight: 400,
            focus: true,
            lang: 'zh-CN',
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['picture']],
                ['codeview', ['codeview']]
            ],
            callbacks: {
                onImageUpload: function (files, editor, $editors) { //the onImageUpload API
                    actDetailHandler.sendFile(files[0], editor, $editors, 1);
                }
            }
        });
    });

</script>
</body>
</html>
