<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>活动列表</title>
    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Morris -->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.7.css" rel="stylesheet"/>
    <!--checkbox-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"
          rel="stylesheet">
    <!--datetimepick-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/datetimepick/daterangepicker.css" rel="stylesheet"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight tooltip-demo">
    <div class="ibox-title">
        <h5>活动列表信息</h5>
    </div>
    <!--list-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins m-b-none">
                <div class="ibox-content p-xxs no-top-border">
                    <div style="text-align:right;">
                        <button id="btnAddArticle" class="btn btn-success btn-sm" type="button"
                                onclick="actListHandler.editAct()">新增
                        </button>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-center">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>活动名称</th>
                                <th>活动类型</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">
                            <tr th:each="activity,iterStat:${activities}">
                                <td class="js-actId" th:text="${iterStat.index}+1">
                                    <span id="customerId" th:text="${activity.customerId}" th:type="hidden"></span>
                                </td>
                                <td id="actTitle" th:text="${activity.actTitle}"></td>
                                <td>
                                    <p th:if="${not #lists.isEmpty(activity.actType)}"
                                       th:text="${activity.actType.getValue()}"></p>
                                </td>
                                <td>
                                    <p th:if="${not #lists.isEmpty(activity.startDate)}"
                                       th:text="${#temporals.format(activity.startDate,'yyyy-MM-dd HH:mm:ss')}"></p>
                                </td>
                                <td>
                                    <p th:if="${not #lists.isEmpty(activity.endDate)}"
                                       th:text="${#temporals.format(activity.endDate,'yyyy-MM-dd HH:mm:ss')}"></p>
                                </td>
                                <td>
                                    <span th:if="${activity.openStatus}" style="color: green">已启用</span>
                                    <span th:unless="${activity.openStatus}" style="color: red">禁用</span>
                                </td>
                                <td>
                                     <span class="cursor-point" th:if="${activity.openStatus}"><i class="fa tooltips"
                                                                   data-toggle="modal"
                                                                   data-original-title="活动链接" data-target="#actLink"
                                                                   th:onclick="'javascript:actListHandler.actLink('+${activity.actId}+','+${activity.customerId}+','+${activity.openStatus}+')'">活动链接</i></span>
                                    <span class="cursor-point" th:unless="${activity.openStatus}"><i class="fa tooltips"
                                                                  data-toggle="modal"
                                                                  data-original-title="活动链接"
                                                                  th:onclick="'javascript:actListHandler.actLink('+${activity.actId}+','+${activity.customerId}+','+${activity.openStatus}+')'">活动链接</i></span>
                                    &nbsp;&nbsp;
                                    <span class="cursor-point"><i class="fa  tooltips" data-placement="top"
                                                                  data-toggle="tooltip" data-original-title="奖品设置"
                                                                  th:onclick="'javascript:actListHandler.setPrize('+${activity.actId}+')'">奖品设置</i></span>
                                    &nbsp;&nbsp;
                                    <span class="cursor-point"><i class="fa  tooltips" data-placement="top"
                                                                  data-toggle="tooltip"
                                                                  data-original-title="编辑"
                                                                  th:onclick="'javascript:actListHandler.editAct('+${activity.actId}+')'">编辑</i></span>
                                    &nbsp;&nbsp;
                                    <span th:unless="${activity.openStatus}" class="cursor-point"><i
                                            class="fa  tooltips" data-placement="top"
                                            data-toggle="tooltip"
                                            data-original-title="启用"
                                            th:onclick="'javascript:actListHandler.actEnable('+${activity.actId}+')'">启用</i></span>
                                    <span th:if="${activity.openStatus}" class="cursor-point"><i
                                            class="fa  tooltips" data-placement="top"
                                            data-toggle="tooltip"
                                            data-original-title="禁用"
                                            th:onclick="'javascript:actListHandler.actDisable('+${activity.actId}+')'">禁用</i></span>
                                    &nbsp;&nbsp;
                                    <span class="cursor-point"><i class="fa  tooltips" data-placement="top"
                                                                  data-toggle="tooltip"
                                                                  data-original-title="删除"
                                                                  th:onclick="'javascript:actListHandler.deleteAct('+${activity.actId}+','+${activity.openStatus}+',\''+${activity.actTitle}+'\')'">删除</i></span>
                                    &nbsp;&nbsp;
                                    <span class="cursor-point"><i
                                            class="fa  tooltips" data-placement="top"
                                            data-toggle="tooltip"
                                            data-original-title="中奖记录"
                                            th:onclick="'javascript:actListHandler.joinRecord('+${activity.actId}+')'">中奖记录</i></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="float: left; margin: 20px 0;">共
                            <th:block th:text="${totalRecords}">0</th:block>
                            条记录，当前第
                            <th:block th:text="${pageIndex}">0</th:block>
                            /
                            <th:block th:text="${totalPages}">0</th:block>
                            ，每页
                            <th:block th:text="${pageSize}">0</th:block>
                            条记录
                        </p>
                        <ul style="float: right;" class="pagination pagination-split">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="actLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    活动链接
                </h4>
            </div>
            <div class="modal-body" id="actLinkStr">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--基础框架js-->
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="../../resources/js/plugins/hot/bootstrap.hot.extra-utils.js"
        th:src="@{/resources/js/plugins/hot/bootstrap.hot.extra-utils.js}"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/content.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/jquery.validate.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/additional-methods.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/localization/messages_zh.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/hot/bootstrap.hot.extra-validate.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/SearchableSelect/jquery.searchableSelect.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/hot/bootstrap.hot.extra-utils-1.0.1.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/hot/bootstrap.hot.extra-init.js"></script>
<script type="text/javascript">
    var pageIndex = [[${pageIndex}]];
    var totalPage = [[${totalPages}]];
    var ajaxUrl = "[[@{/mall}]]";
    var requestDate = {};
    var actNum = null;
    var customerNum = null;
    var paging = new hot.paging(".pagination", pageIndex, totalPage, 5);
    paging.init(function (p) {
        window.location.href = ajaxUrl + '/act/list?pageIndex=' + p;
    });
    var actListHandler = {
        deleteAct: function (actId, status, name) {
            var actStatus = (status == true ? "启用" : "禁用");
            hot.confirm(name + "活动已" + actStatus + "，确定要删除么？", function () {
                requestDate = {actId: actId};
                hot.ajax(ajaxUrl + "/act/delete", requestDate, function (res) {
                    if (res.code == 200) {
                        window.location.reload();
                    } else {
                        hot.tip.error("删除失败");
                    }
                })
            })
        },
        editAct: function (actId) {
            if (actId != null) {
                window.location.href = ajaxUrl + "/act/detail?actId=" + actId;
            } else {
                window.location.href = ajaxUrl + "/act/detail";
            }
        },
        setPrize: function (actId) {
            window.location.href = ajaxUrl + "/prize/list?actId=" + actId;
        },
        joinRecord: function (actId) {
            window.location.href = ajaxUrl + "/join/record?actId=" + actId;
        },
        actDisable: function (actId) {
            hot.ajax(ajaxUrl + "/act/disable", {actId: actId}, function (res) {
                if (res.code == 200) {
                    window.location.reload();
                }else{
                    hot.tip.error("禁用失败")
                }
            })
        },
        actEnable: function (actId) {
            hot.ajax(ajaxUrl + "/act/enable", {actId: actId}, function (res) {
                if (res.code == 200) {
                    window.location.reload();
                } else {
                    hot.tip.error("启用失败");
                }
            })
        },
        actLink: function (actId, customerId,status) {
            if(status){
                actNum = actId;
                customerNum = customerId;
                var str = window.location.origin + "/site/activity/index?actId=" + actId+ "&customerId=" + customerId;
                $("#actLinkStr").html(str)
            }else {
                hot.tip.error("该活动已禁用，请先启用活动");
            }
        }
    }
</script>

</body>
</html>
