<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>奖品列表</title>
    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Morris -->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.7.css" rel="stylesheet"/>
    <!--checkbox-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"
          rel="stylesheet">
    <!--datetimepick-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/datetimepick/daterangepicker.css" rel="stylesheet"/>
    <!--<base target="_blank">-->
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight tooltip-demo">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins m-b-none">
                <div class="ibox-title">
                    <h5>奖品列表信息</h5>
                </div>
                <div class="ibox-content p-xxs no-top-border">
                    <div style="text-align:right;">
                        <button class="btn btn-sm btn-success" type="button"
                                th:onclick="'javascript:prizeListHandler.prizeAdd('+${actId}+')'">新增奖品
                        </button>
                        <button class="btn btn-sm btn-success" type="button" onclick="prizeListHandler.goBack()"
                        >返回
                        </button>

                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-center">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th class="col-sm-2">奖品名称</th>
                                <th class="col-sm-3">奖品图片</th>
                                <th>奖品类型</th>
                                <!--<th>奖品总量</th>-->
                                <th>奖品剩余数量</th>
                                <th>中奖概率</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="prize,iterStat:${prizeList}">
                                <input id="status" type="hidden" th:value="${prize.activity.openStatus}">
                                <td th:text="${iterStat.index}+1">

                                </td>
                                <td th:text="${prize.prizeName}">
                                    <div class="checkbox checkbox-primary m-b-none m-t-none">
                                    </div>
                                </td>
                                <td style="width: 5%;">
                                    <img th:src="${prize.prizeImageUrl}" style="width:100px;height:100px;">
                                    </img>
                                </td>
                                <td th:text="${prize.prizeType.value}"></td>
                                <!--<td th:text="${prize.prizeCount}"></td>-->
                                <td th:text="${prize.remainCount}"></td>
                                <td>
                                    <span class="js_winRate" th:text="${prize.winRate}"></span><span
                                        th:if="${prize.winRate}>0">%</span>
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="cursor-point"><i class="fa  tooltips" data-placement="top"
                                                                  data-toggle="tooltip"
                                                                  data-original-title="编辑"
                                                                  th:onclick="'javascript:prizeListHandler.prizeEdit('+${actId}+','+${prize.prizeId}+')'">编辑</i></span>
                                    &nbsp;&nbsp;
                                    <span class="cursor-point"><i class="fa  tooltips" data-placement="top"
                                                                  data-toggle="tooltip"
                                                                  data-original-title="删除"
                                                                  th:onclick="'javascript:prizeListHandler.prizeDelete('+${prize.prizeId}+','+${prize.prizeType.code}+')'">删除</i></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--基础框架js-->
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="../../resources/js/plugins/hot/bootstrap.hot.extra-utils.js"
        th:src="@{/resources/js/plugins/hot/bootstrap.hot.extra-utils.js}"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/content.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/layer/3.0.3/layer.js"></script>
<!--validate-->
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/jquery.validate.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/additional-methods.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/localization/messages_zh.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/SearchableSelect/jquery.searchableSelect.js"></script>
<script type="text/javascript">
    var ajaxUrl = "[[@{/mall}]]";
    var prizeListHandler = {
        prizeEdit: function (actId, prizeId) {

            if (prizeId == null) {
                window.location.href = ajaxUrl + "/prize/detail?actId=" + actId;
            } else {
                window.location.href = ajaxUrl + "/prize/detail?actId=" + actId + "&prizeId=" + prizeId;
            }


        },
        prizeDelete: function (prizeId, prizeType) {
            if (prizeType == 0) {
                hot.tip.error("谢谢惠顾不能删除");
                return;
            }
            var status = $("#status").val();
            if (status == "true") {
                hot.tip.error("该活动已启用，不能删除奖品");
                return;
            }
                hot.confirm("确定要删除么？", function () {
                    var requestData = {
                        prizeId: prizeId
                    };
                    hot.ajax(ajaxUrl + "/prize/delete", requestData, function (res) {
                        if (res.code == 200) {
                            window.location.reload();
                        } else {
                            hot.tip.error(res.msg);
                        }
                    })
                })
        },
        prizeAdd: function (actId) {
            var status = $("#status").val();
            if (status == "true") {
                hot.tip.error("该活动已启用，不能添加奖品");
            } else {
                window.location.href = ajaxUrl + "/prize/detail?actId=" + actId;
            }
        },
        goBack: function () {
            window.location.href = ajaxUrl + "/act/list";
        }
    }
    $(function () {

    });
</script>
</body>
</html>
