<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>奖品编辑</title>
    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Morris -->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.7.css" rel="stylesheet">
    <!--checkbox-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"
          rel="stylesheet">
    <!--datetimepick-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/datetimepick/daterangepicker.css" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight tooltip-demo">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>奖品编辑信息</h5>
        </div>
        <div class="ibox-content">
            <form method="post" th:action="@{/mall/prize/save}" class="form-horizontal" id="editSavePrize">
                <input type="hidden" th:value="${actPrize.activity.actId}" name="actId">
                <input type="hidden" th:value="${actPrize.prizeCount}" name="prizeCount">
                <input type="hidden" th:if="${actPrize.prizeId != null}" th:value="${actPrize.prizeId}" name="prizeId">
                <input type="hidden" th:value="${actPrize.prizeType}" name="prizeType">
                <!--<input type="hidden" th:if="${#lists.isEmpty(actPrize.prizeType)}" value="0" name="prizeType">-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">奖品名称:</label>
                    <div class="col-sm-3">
                        <input type="text" placeholder="奖品名称" class="form-control" name="prizeName" maxlength="30"
                               th:value="${actPrize.prizeName}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">奖品类型:</label>
                    <div class="col-sm-2">
                        <span th:text="${actPrize.prizeType.value}">谢谢惠顾</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">上传图片</label>
                    <div class="col-sm-3">
                        <input type="hidden" id="prizeImageUrl" name="prizeImageUrl" th:value="${actPrize.prizeImageUrl}"/>
                        <input type="file" id="uploadFile" name="btnFile" readonly="readonly" class="form-control">
                        <button class="btn btn-sm btn-success" id="uploadImage" type="button"
                                onclick="prizeEditHandler.uploadFile()">上传图片
                        </button>
                        <span class="help-block"><i class="fa fa-info-circle"></i>推荐尺寸：200*200</span>
                        <img id="imageShow" src="../../resources/images/infoBg.png" th:src="${actPrize.mallPrizeImageUrl}"
                             style="width:200px;height:200px;"/>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">奖品数量:</label>
                    <div class="col-sm-3">
                        <input type="text" placeholder="奖品数量" class="form-control" id="remainCount" name="remainCount"
                               required maxlength="10"
                               th:value="${actPrize.remainCount}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">中奖概率:</label>
                    <div class="col-sm-3">
                        <input type="number" placeholder="中奖概率" th:readonly="${actPrize.activity.openStatus}"
                               th:value="${actPrize.winRate}" name="winRate" id="winRate" required max="100" min="1"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">排序字段:</label>
                    <div class="col-sm-3">
                        <input type="text" placeholder="排序字段" id="sort" class="form-control" th:value="${actPrize.sort}"
                               required maxlength="10"
                               name="sort">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-5">
                        <button class="btn btn-sm btn-success" type="button" onclick="prizeEditHandler.save()">
                            保存
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--基础框架js-->
<script src="http://resali.huobanplus.com/cdn/jquery/3.2.1/jquery.min.js"></script>
<script src="../../resources/js/plugins/hot/bootstrap.hot.extra-utils.js"
        th:src="@{/resources/js/plugins/hot/bootstrap.hot.extra-utils.js}"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.7/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/switchery/switchery.js"></script>
<script src="http://resali.huobanplus.com/cdn/layer/3.0.3/layer.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/jquery.validate.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/additional-methods.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/localization/messages_zh.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/validate/messages_zh.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/summernote/summernote.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/summernote/summernote-zh-CN.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/ajaxfileupload/ajaxfileupload.js"></script>

<script type="text/javascript">
    var customerId = [[${customerId}]];
    var prizeEditHandler = {
        uploadFile: function () {
            hot.loading.show();
            var fileName = $('#uploadFile').val();
            if (fileName == undefined || fileName.length == 0) {
                hot.tip.error("图片不能为空");
                return;
            }
            if (!prizeEditHandler.checkImage(fileName)) {
                hot.tip.error("请上传图片");
                return;
            }
            $.ajaxFileUpload({
                url: "/common/upload",
                data: {
                    customerId: customerId
                },
                secureuri: false,// 一般设置为false
                fileElementId: "uploadFile",// 文件上传表单的id <input type="file" id="fileUpload" name="file" />
                dataType: 'json',// 返回值类型 一般设置为json
                type: "post",
                success: function (data) // 服务器成功响应处理函数
                {
                    if (data.result == 1) {
                        $('#imageShow').attr('src', data.fileUrl);
                        $("input:hidden[name='prizeImageUrl']").val(data.fileUri);
                        hot.tip.success("上传成功");
                    }
                },
                error: function (res)// 服务器响应失败处理函数
                {
                    hot.tip.error("图片上传失败");
                }
            })

        },
        save: function () {
            $("#editSavePrize").valid();
            var url = $("#prizeImageUrl").val();
            if(url==null){
                $("#prizeImageUrl").val('');
            }
            $("#editSavePrize").submit();
        },
        checkImage: function (fileName) {
            var imgType = fileName.toLowerCase().split('.');
            var type = imgType[imgType.length - 1];
            if (type != "png" && type != "jpeg" && type != "bmp" && type != "jpg") {
                return false;
            }
            return true;
        }
    }
    $(function () {
        $("#editSavePrize").validate({
            ignore: [],
            rules: {
                remainCount: {"digits": true, min: 1},
                winRate: {"digits": true, min: 1, max: 100},
                sort: {"digits": true, min: 0}
            },
            messages: {
                prizeName: "奖品名称不能为空",
                remainCount: "奖品数量大于0",
                winRate: "中奖概率大于0小于100",
                sort: "排序字段整数大于等于0"
            }
        });
    });



</script>
</body>

</html>
