<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中奖记录</title>
    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Morris -->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.7.css" rel="stylesheet">
    <!--checkbox-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"
          rel="stylesheet">
    <!--datetimepick-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/datetimepick/daterangepicker.css" rel="stylesheet"/>
</head>

<body class="gray-bg" data-unitTest="false" data-prototype="true">
<div class="wrapper wrapper-content animated fadeInRight tooltip-demo">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins m-b-none">
                <div class="ibox-content p-xxs no-top-border">
                    <div>
                        <label class="">中奖记录</label>
                    </div>
                    <form class="search-panel" method="post" id="searchForm">
                        <div class="ibox-content p-m no-borders">
                            <div class="form-inline ">
                                <div class="form-group m-r-sm">
                                    <label class="control-label" for="type">中奖类型：</label>
                                    <select id="type" class="form-control input">
                                        <option value="0">全部</option>
                                        <option value="1">谢谢惠顾</option>
                                        <option value="2">中奖</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-sm btn-success js-search"
                                        onclick="winListHandler.search()">筛选
                                </button>
                            </div>
                        </div>
                    </form>
                    <!--添加资讯按钮-->
                    <div style="text-align:right;">
                        <button type="button" class="btn btn-white" id="btnBatchExport">批量导出</button>
                        <button type="button" class="btn btn-success" onclick="winListHandler.back()">返回</button>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-center">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th class="col-sm-2">用户编号</th>
                                <!--<th class="col-sm-1">活动名称</th>-->
                                <th>奖品名称</th>
                                <th>姓名</th>
                                <th>电话</th>
                                <th>日期</th>
                                <th>IP</th>
                                <th>领取情况</th>
                                <th th:if="${type!=1}">操作</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">
                            <tr th:each="actWinDetail,itenSatus:${joinRecord}">
                                <!--/*@thymesVar id="actWinDetail" type="com.huotu.scrm.service.entity.activity.ActWinDetail"*/-->
                                <td th:text="${itenSatus.index}+1"></td>
                                <td th:text="${actWinDetail.userId}">
                                    <div class="checkbox checkbox-primary m-b-none m-t-none">
                                    </div>
                                </td>
                                <td th:text="${actWinDetail.prizeName}"></td>
                                <td th:text="${actWinDetail.winnerName}"></td>
                                <td th:text="${actWinDetail.winnerTel}"></td>
                                <td th:text="${#temporals.format(actWinDetail.winTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${actWinDetail.ipAddress}"></td>
                                <td>
                                    <p th:if="${actWinDetail.prizeType.code==1}"
                                       th:style="${actWinDetail.getReward ? 'color:green' : 'color:red;'}"
                                       th:text="${actWinDetail.isGetReward()?'已领取':'未领取'}"></p>
                                    <p th:if="${actWinDetail.prizeType.code==0}">未中奖</p>
                                </td>
                                <td>
                                    <span class="cursor-point"
                                          th:if="${actWinDetail.prizeType.code==1 and !actWinDetail.isGetReward() }"
                                    >
                                       <i class="fa tooltips" data-toggle="tooltip"
                                          th:onclick="'javascript:winListHandler.editReceiveStatus('+${actWinDetail.winDetailId}+')'"
                                          data-original-title="修改领取状态">修改领取状态</i>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        共
                        <th:block th:text="${totalRecords}">100</th:block>
                        条记录，当前第
                        <th:block th:text="${pageIndex}">1</th:block>
                        /
                        <th:block th:text="${totalPages}">15</th:block>
                        ，每页
                        <th:block th:text="${pageSize}">10</th:block>
                        条记录
                        <ul style="float: right;" class="pagination pagination-split">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--批量导出-->
<div id="batchExportModal" class="modal-content-tag">
    <div class="form-inline">
        <div class="form-group">
            <label class=" control-label" for="startPage">导出记录：</label>
            第<input type="text" class="form-control input-sm mb10" id="startPage" style="width: 80px;"/>页 至
            第<input type="text" class="form-control input-sm mb10" id="endPage" style="width: 80px;"/>页
            &nbsp;&nbsp;<span th:text="至多+${totalPages}+页" style="color: red"></span>
        </div>
    </div>
</div>
<!--基础框架js-->
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/content.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/jquery.validate.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/additional-methods.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/localization/messages_zh.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/hot/bootstrap.hot.extra-validate.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/SearchableSelect/jquery.searchableSelect.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/hot/bootstrap.hot.extra-utils-1.0.1.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/hot/bootstrap.hot.extra-init.js"></script>

<script type="text/javascript">
    var pageIndex = [[${pageIndex}]];
    var totalPage = [[${totalPages}]];
    var actId = [[${actId}]];
    var prizeType = [[${type}]];
    $("#type").val(prizeType);
    var ajaxUrl = "[[@{/mall}]]";
    var isInteger = /^[0-9]*[1-9][0-9]*$/;
    var batchExportModal = $("#batchExportModal").modal("批量导出", function () {
        var startPage = $("#startPage").val();
        var endPage = $("#endPage").val();
        if (isInteger.test(startPage) && isInteger.test(endPage)) {
            if (startPage <= endPage && startPage > 0 && endPage <= totalPage) {
                batchExportModal.hide();
                var typeId = $("#type").val();
                window.location.href = ajaxUrl + "/downloadWinDetail?startPage=" + startPage + "&endPage=" + endPage + "&actId=" + actId + "&type=" + typeId;
            } else {
                hot.tip.error("页码输入有误");
            }
        } else {
            hot.tip.error("页码输入有误");
        }
    });
    //初始化分页
    var paging = new hot.paging(".pagination", pageIndex, totalPage, 5);

    paging.init(function (p) {
        var type = $('#type').val();
        window.location.href = ajaxUrl + '/join/record?pageIndex=' + p + '&actId=' + actId + '&type=' + type;
    });

    var winListHandler = {
        search: function () {
            var type = $("#type").val();
            window.location.href = ajaxUrl + "/join/record?pageIndex=" + pageIndex + "&actId=" + actId + "&type=" + type;
        },
        editReceiveStatus: function (winDetailId) {
            hot.ajax(ajaxUrl+"/update/rewardStatus", {winDetailId: winDetailId}, function (res) {
                if (res.code == 200) {
                    window.location.reload();
                } else {
                    hot.tip.error("修改失败")
                }
            })
        },
        back:function () {
            window.location.href=ajaxUrl+"/act/list";
        }
    }
    $(function () {
        $("#btnBatchExport").click(function () {
            batchExportModal.show();
        });
    });
</script>
</body>

</html>
