<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>奖品列表</title>
    <script>!function (e, i) {
        var t = e.documentElement, n = navigator.userAgent.match(/iphone|ipod|ipad/gi),
            a = n ? Math.min(i.devicePixelRatio, 3) : 1,
            m = "orientationchange" in window ? "orientationchange" : "resize";
        t.dataset.dpr = a;
        for (var d, l, c = !1, o = e.getElementsByTagName("meta"), r = 0; r < o.length; r++)l = o[r], "viewport" == l.name && (c = !0, d = l);
        if (c) d.content = "width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no"; else {
            var o = e.createElement("meta");
            o.name = "viewport", o.content = "width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no", t.firstElementChild.appendChild(o)
        }
        var s = function () {
            var e = t.clientWidth;
            e / a > 640 && (e = 640 * a), window.remScale = e / 640, t.style.fontSize = 200 * (e / 640) + "px"
        };
        s(), e.addEventListener && i.addEventListener(m, s, !1)
    }(document, window);</script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/record.css">
</head>
<body>
<section id="app">
    <div class="tip"><span>4000066855</span> <span>400-0066-855</span></div>
    <div class="record-list">
        <a href="goodsDetail.html" class="record-item clearfix">
            <img class="fl" src="//yun.duiba.com.cn/tuia/img/11skcthqyq.jpg">
            <div class="fl record-info">
                <h3>它征服了97%的数码控</h3>
                <span>有效期: 2017-06-25</span>
            </div>
        </a>
        <a href="goodsDetail.html" class="record-item clearfix">
            <img class="fl" src="//yun.duiba.com.cn/tuia/img/11skcthqyq.jpg">
            <div class="fl record-info">
                <h3>它征服了97%的数码控</h3>
                <span>有效期: 2017-06-25</span>
            </div>
        </a>
        <a href="goodsDetail.html" class="record-item clearfix">
            <img class="fl" src="//yun.duiba.com.cn/tuia/img/11skcthqyq.jpg">
            <div class="fl record-info">
                <h3>它征服了97%的数码控</h3>
                <span>有效期: 2017-06-25</span>
            </div>
        </a>
    </div>
    <!--如果没数据就下面显示-->
    <div class="noRecord">
        <img src="./img/noRecord.png">
        <p>列表为空</p>
    </div>
</section>
</body>
</html>