<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/weui.min-xz-diy.css"/>
    <title>今日UV</title>
</head>
<body class="grbg">
<div class="bd">
    <div style="position: fixed;top:0px;left:0px;right:0px; z-index:99999">
        <div class="sl-ka superli" style="font-size:12px">
            <ul class="sl-float-ul ka  pjf_5ge custom-paixu">
                <li>
                    <a href="/site/extension/getScoreRanking">
                        排名
                    </a>
                </li>
                <li class="on">
                    <a href="/site/extension/getVisitorInfo">
                        UV
                    </a>
                </li>
                <li>
                    <a href="/site/extension/getScoreInfo">
                        积分
                    </a>
                </li>
                <li th:if="${status}">
                    <a href="/site/extension/getFollowInfo">
                        关注
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p style="height:30px"></p>
    <div class="f-bigbox">
        <div class="fa-bigbox">
            <div style="  margin: 0 auto; text-align: center; padding-bottom: 8px;">
                <p class="phone">今日UV（位）</p>
                <p style="color: #fff; font-size: 30px;" th:text="${dayVisitorNumInfo.dayVisitorBum}">10</p>
            </div>
            <p class="f-rgo" style="display:none">
                <a href="">
                    <img style="width:30px;" src="../../resources/images/szsz.png">
                </a>
            </p>
            <p style="clear:both"></p>
        </div>
    </div>
    <div class="dlrzx">
        <div class=" blue">
            <div class="dailiren-s-ka">
                <ul class="dailiren-float-ul ka  pjf_3ge ">
                    <li>
                        <a>
                            <p class="sj" th:text="${dayVisitorNumInfo.monthVisitorNum}"></p>
                            <p>本月UV（人）</p>
                        </a>
                    </li>
                    <li>
                        <a style="border-left: 1px solid #57acf0;">
                            <p class="sj" th:text="${dayVisitorNumInfo.highestMonthVisitorNum}"></p>
                            <p>历史最最高月UV（人）</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="weui_cells weui_cells_access" th:each="monthVisitorInfo:${dayVisitorNumInfo.monthVisitorNumList}">
            <a class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p th:text="${monthVisitorInfo.month}"></p>
                </div>
                <div class="weui_cell_ft" th:text="${monthVisitorInfo.data}+'人'"></div>
            </a>
        </div>
    </div>
</div>
<div style="height:30px"></div>
</body>
</html>
<script src="weui/js/jquery-2.1.4.js"></script>
<script src="weui/js/jquery-weui.js"></script>