<!doctype html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/weui.min-xz-diy.css"/>
    <title>推广明细</title>
</head>
<body class="grbg">
<div class="bd">
    <div style="position: fixed;top:0px;left:0px;right:0px; z-index:99999">
        <div class="sl-ka superli" style="font-size:12px">
            <ul class="sl-float-ul ka  pjf_5ge custom-paixu">
                <li>
                    <a href="personal-ranking.html">
                        排名
                    </a>
                </li>
                <li class="on">
                    <a href="personal-uv.html">
                        UV
                    </a>
                </li>
                <li>
                    <a href="personal-score.html">
                        积分
                    </a>
                </li>
                <li>
                    <a href="personal-follow.html">
                        关注
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p style="height:30px"></p>
    <div class="f-bigbox">
        <div class="fa-bigbox">
            <div style="  margin: 0 auto; text-align: center; padding-bottom: 8px;">
                <p class="phone">今日UV（位）</p>
                <p style="color: #fff; font-size: 30px;">10</p>
            </div>
            <p class="f-rgo" style="display:none">
                <a href="">
                    <img style="width:30px;" src="images/szsz.png">
                </a>
            </p>
            <p style="clear:both"></p>
        </div>
    </div>
    <div class="dlrzx">
        <div class=" blue">
            <div class="dailiren-s-ka">
                <ul class="dailiren-float-ul ka  pjf_3ge ">
                    <li>
                        <a href="ye.html">
                            <p class="sj">12</p>
                            <p>今日UV（人）</p>
                        </a>
                    </li>
                    <li>
                        <a href="hb.html" style="border-left: 1px solid #57acf0;">
                            <p class="sj">5</p>
                            <p>本月最高UV（人）</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="weui_cells weui_cells_access">
            <a class="weui_cell" href="wddd.html">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>本月</p>
                </div>
                <div class="weui_cell_ft">7</div>
            </a>
            <a class="weui_cell" href="hdxq.html">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>上月</p>
                </div>
                <div class="weui_cell_ft">2</div>
            </a>
            <a class="weui_cell" href="wdsc.html">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>4月</p>
                </div>
                <div class="weui_cell_ft">15</div>
            </a>
            <a class="weui_cell" href="javascript:;">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>3月</p>
                </div>
                <div class="weui_cell_ft">10</div>
            </a>
            <a class="weui_cell" href="javascript:;">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>2月</p>
                </div>
                <div class="weui_cell_ft">60</div>
            </a>
        </div>
    </div>
</div>
<div style="height:30px"></div>
</body>
</html>
<script src="weui/js/jquery-2.1.4.js"></script>
<script src="weui/js/jquery-weui.js"></script>