<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>推广明细</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.3/weui.min.css">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.3/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/weui.min-xz-diy.css"/>
    <style>
        .weui_navbar_hot {
            padding-bottom: 1px;
        }
        .weui_navbar_hot:after {
            border: none;
        }

        .weui_navbar_hot .weui_navbar_item:after {
            border: none;
        }

        .weui_navbar_hot .weui_navbar_item {
            border-bottom: 1px solid transparent;
        }

        .weui_navbar_hot .weui_navbar_item.weui_bar_item_on {
            border-bottom: 1px solid red;
            background-color: transparent;
            color: red;
        }
    </style>
</head>
<body>
<div class="weui_tab">
    <div class="weui_navbar weui_navbar_hot">
        <a class="weui_navbar_item weui_bar_item_on" href="#ranking">
            排名
        </a>
        <a class="weui_navbar_item" href="#uv">
            UV
        </a>
        <a class="weui_navbar_item" href="#score">
            积分
        </a>
        <a th:if="${status}" class="weui_navbar_item" href="#follow">
            关注
        </a>
    </div>
    <div class="weui_tab_bd">
        <div id="ranking" class="weui_tab_bd_item weui_tab_bd_item_active">
            <div class="f-bigbox">
                <div class="fa-bigbox">
                    <div style="  margin: 0 auto; text-align: center; padding-bottom: 8px;">
                        <p class="phone">今日积分排名（位）</p>
                        <p style="color: #fff; font-size: 30px;" th:if="${dayScoreRankingInfo.dayScoreRanking}<0">
                            200名以外</p>
                        <p style="color: #fff; font-size: 30px;" th:if="${dayScoreRankingInfo.dayScoreRanking}==0">
                            --</p>
                        <p style="color: #fff; font-size: 30px;" th:if="${dayScoreRankingInfo.dayScoreRanking}>0"
                           th:text="${dayScoreRankingInfo.dayScoreRanking}"></p>
                    </div>
                    <p class="f-rgo" style="display:none">
                        <a href="">
                            <img style="width:30px;" src="../../resources/images/szsz.png">
                        </a>
                    </p>
                    <p style="clear:both"></p>
                </div>
            </div>
            <div class="dlrzx">
                <div class=" blue">
                    <div class="dailiren-s-ka">
                        <ul class="dailiren-float-ul ka  pjf_3ge ">
                            <li>
                                <a>
                                    <p class="sj" th:if="${dayScoreRankingInfo.monthScoreRanking}>0"
                                       th:text="${dayScoreRankingInfo.monthScoreRanking}"></p>
                                    <p class="sj" th:if="${dayScoreRankingInfo.monthScoreRanking}==0">--</p>
                                    <p class="sj" th:if="${dayScoreRankingInfo.monthScoreRanking}<0">--</p>
                                    <p>本月积分排名（位）</p>
                                </a>
                            </li>
                            <li>
                                <a style="border-left: 1px solid #57acf0;">
                                    <p class="sj" th:if="${dayScoreRankingInfo.highestMonthScoreRanking}>0"
                                       th:text="${dayScoreRankingInfo.highestMonthScoreRanking}"></p>
                                    <p class="sj" th:if="${dayScoreRankingInfo.highestMonthScoreRanking}==0">--</p>
                                    <p class="sj" th:if="${dayScoreRankingInfo.highestMonthScoreRanking}<0">200名以外</p>
                                    <p>最高月积分排名（位）</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="weui_cells"
                     th:each="monthRanking:${dayScoreRankingInfo.monthScoreRankingList}">
                    <a class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p th:text="${monthRanking.month}+'排名'"></p>
                        </div>
                        <div class="weui_cell_ft" th:text="${monthRanking.data}+'位'"
                             th:if="${monthRanking.data}>0" style="border-style: none"></div>
                        <div class="weui_cell_ft" th:if="${monthRanking.data}==0" style="border-style: none">--</div>
                        <div class="weui_cell_ft" th:if="${monthRanking.data}<0" style="border-style: none">200名以外</div>
                    </a>
                </div>
            </div>
        </div>
        <div id="uv" class="weui_tab_bd_item">
            <div class="f-bigbox">
                <div class="fa-bigbox">
                    <div style="  margin: 0 auto; text-align: center; padding-bottom: 8px;">
                        <p class="phone">今日UV（位）</p>
                        <p style="color: #fff; font-size: 30px;" th:text="${dayVisitorNumInfo.dayVisitorBum}">10</p>
                    </div>
                    <p class="f-rgo" style="display:none">
                        <a href="">
                            <img style="width:30px;" src="../../resources/images/szsz.png">
                        </a>
                    </p>
                    <p style="clear:both"></p>
                </div>
            </div>
            <div class="dlrzx">
                <div class=" blue">
                    <div class="dailiren-s-ka">
                        <ul class="dailiren-float-ul ka  pjf_3ge ">
                            <li>
                                <a>
                                    <p class="sj" th:text="${dayVisitorNumInfo.monthVisitorNum}"></p>
                                    <p>本月UV（个）</p>
                                </a>
                            </li>
                            <li>
                                <a style="border-left: 1px solid #57acf0;">
                                    <p class="sj" th:text="${dayVisitorNumInfo.highestMonthVisitorNum}"></p>
                                    <p>历史最最高月UV（个）</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="weui_cells"
                     th:each="monthVisitorInfo:${dayVisitorNumInfo.monthVisitorNumList}">
                    <a class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p th:text="${monthVisitorInfo.month}"></p>
                        </div>
                        <div class="weui_cell_ft" th:text="${monthVisitorInfo.data}+'个'" style="border-style: none"></div>
                    </a>
                </div>
            </div>
        </div>
        <div id="score" class="weui_tab_bd_item">
            <div class="f-bigbox">
                <div class="fa-bigbox">
                    <div style="  margin: 0 auto; text-align: center; padding-bottom: 8px;">
                        <p class="phone">今日预计积分（分）</p>
                        <p style="color: #fff; font-size: 30px;" th:text="${dayScoreInfo.dayScore}">10</p>
                    </div>
                    <p class="f-rgo" style="display:none">
                        <a href="">
                            <img style="width:30px;" src="../../resources/images/szsz.png">
                        </a>
                    </p>
                    <p style="clear:both"></p>
                </div>
            </div>
            <div class="dlrzx">
                <div class=" blue">
                    <div class="dailiren-s-ka">
                        <ul class="dailiren-float-ul ka  pjf_3ge ">
                            <li>
                                <a>
                                    <p class="sj" th:text="${dayScoreInfo.lastDayScore}"></p>
                                    <p>昨日积分（分）</p>
                                </a>
                            </li>
                            <li>
                                <a style="border-left: 1px solid #57acf0;">
                                    <p class="sj" th:text="${dayScoreInfo.accumulateScore}">5</p>
                                    <p>历史累计（分）</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="weui_cells" th:each="monthScoreInfo:${dayScoreInfo.monthScoreList}">
                    <a class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p th:text="${monthScoreInfo.month}"></p>
                        </div>
                        <div class="weui_cell_ft" th:text="${monthScoreInfo.data}+'分'" style="border-style: none"></div>
                    </a>
                </div>
            </div>
        </div>
        <div th:if="${status}" id="follow" class="weui_tab_bd_item">
            <div class="f-bigbox">
                <div class="fa-bigbox">
                    <div style="  margin: 0 auto; text-align: center; padding-bottom: 8px;">
                        <p class="phone">今日关注人数（位）</p>
                        <p style="color: #fff; font-size: 30px;" th:text="${dayFollowNumInfo.dayFollowNum}"></p>
                    </div>
                    <p class="f-rgo" style="display:none">
                        <a href="">
                            <img style="width:30px;" src="../../resources/images/szsz.png">
                        </a>
                    </p>
                    <p style="clear:both"></p>
                </div>
            </div>
            <div class="dlrzx">
                <div class=" blue">
                    <div class="dailiren-s-ka">
                        <ul class="dailiren-float-ul ka  pjf_3ge ">
                            <li>
                                <a>
                                    <p class="sj" th:text="${dayFollowNumInfo.followRanking}"
                                       th:if="${dayFollowNumInfo.followRanking}>0"></p>
                                    <p class="sj" th:if="${dayFollowNumInfo.followRanking}==0">--</p>
                                    <p class="sj" th:if="${dayFollowNumInfo.followRanking}<0">200名以外</p>
                                    <p>当前排名</p>
                                </a>
                            </li>
                            <li>
                                <a style="border-left: 1px solid #57acf0;">
                                    <p class="sj" th:text="${dayFollowNumInfo.highestFollowRanking}"
                                       th:if="${dayFollowNumInfo.highestFollowRanking}>0"></p>
                                    <p class="sj" th:unless="${dayFollowNumInfo.highestFollowRanking}>0">--</p>
                                    <p>最高月排名</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="weui_cells"
                     th:each="monthFollowInfo:${dayFollowNumInfo.monthFollowRankingList}">
                    <a class="weui_cell" >
                        <div class="weui_cell_bd weui_cell_primary">
                            <p th:text="${monthFollowInfo.month}+'排名'"></p>
                        </div>
                        <div class="weui_cell_ft" th:text="${monthFollowInfo.data}+'位'"
                             th:if="${monthFollowInfo.data}>0" style="border-style: none"></div>
                        <div class="weui_cell_ft" th:if="${monthFollowInfo.data}==0" style="border-style: none">--</div>
                        <div class="weui_cell_ft" th:if="${monthFollowInfo.data}<0" style="border-style: none">200名以外</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.3/jquery-weui.min.js"></script>
</html>