<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.3/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.3/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/weui.min-geren-diy.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/weui.min-xz-diy.css"/>

    <title>名片设置</title>
    <style>
        .weui_dialog {
            position: fixed;
            z-index: 5000;
            width: 85%;
            top: 50%;
            right: 0%;
            left: 0%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            background-color: #fafafc;
            text-align: center;
            border-radius: 3px;
            overflow: hidden;
            margin: 0 auto;
        }
    </style>
</head>

<body class="ddbg" js-data-update-url="updateBusinessCardInfo">
<form name="avatarForm" id="avatarForm" action="/site/uploadAvatar" method="post" enctype="multipart/form-data">
    <input type="hidden" id="customerId" name="customerId" th:value="${businessCard.getCustomerId()}">
    <input type="hidden" id="userId" name="userId" th:value="${businessCard.getUserId()}">
    <div class="bd szyo">
        <div class="weui_cells_title">名片设置</div>
        <div class="weui_cells weui_cells_access ">
        <a class="weui_cell" id="weuishow_avatar" js-data-type="1" href="javascript:void(0);">

                <div class="weui_cell_bd weui_cell_primary" >
                <label for="btnInput" style="display: block;cursor: hand">头像
                <input type="file" id="btnInput" name="btnFile" accept="image/*"  style="cursor:hand;display: none!important;">
                </label>
                </div>
                <div class="weui_cell_ft">
                    <img id="img_avatar" class="ui-data-ele" style=" width: 31px;vertical-align: middle;" th:src="${businessCard.getAvatar()}? (${businessCard.getAvatar().isEmpty()} ? '../../resources/image/mrtx.jpg' : ${businessCard.getAvatar()} ): '../../resources/image/mrtx.jpg'" >
                </div>

        </a>
        <a class="weui_cell" id="weuishow_companyname" js-data-type="2" js-data-hint="请输入企业名" href="javascript:void(0);">
            <div class="weui_cell_bd weui_cell_primary">
                <p>企业名</p>
            </div>
            <div id="div_companyname"  class="weui_cell_ft ui-data-ele" style="" th:text="${businessCard.getCompanyName()}"></div>
        </a>
        <a class="weui_cell" id="weuishow_job" js-data-type="3" js-data-hint="请输入职位" href="javascript:void(0);">
            <div class="weui_cell_bd weui_cell_primary">
                <p>职位</p>
            </div>
            <div id="div_job" class="weui_cell_ft ui-data-ele" style="" th:text="${businessCard.getJob()}"></div>
        </a>
        <a class="weui_cell" id="weuishow_tel" js-data-type="4" js-data-hint="请输入固定电话" href="javascript:void(0);">
            <div class="weui_cell_bd weui_cell_primary">
                <p>固话</p>
            </div>
            <div id="div_tel" class="weui_cell_ft ui-data-ele" style="" th:text="${businessCard.getTel()}"></div>
        </a>
        <a class="weui_cell" id="weuishow_qq" js-data-type="5" js-data-hint="请输入QQ" href="javascript:void(0);">
            <div class="weui_cell_bd weui_cell_primary">
                <p>QQ</p>
            </div>
            <div id="div_qq" class="weui_cell_ft ui-data-ele" th:text="${businessCard.getQq()}"></div>
        </a>
        <a class="weui_cell" id="weuishow_email" js-data-type="7" js-data-hint="请输入邮箱"  href="javascript:void(0);">
            <div class="weui_cell_bd weui_cell_primary">
                <p>邮箱</p>
            </div>
            <div id="div_email" class="weui_cell_ft ui-data-ele" th:text="${businessCard.getEmail()}"></div>
        </a>
        <a class="weui_cell" id="weuishow_companyaddress" js-data-type="6" js-data-hint="请输入企业地址" href="javascript:void(0);">
            <div class="weui_cell_bd weui_cell_primary">
                <p style="min-width:40px; ">公司地址</p>
            </div>
            <div id="div_companyaddress" class="weui_cell_ft ui-data-ele" th:text="${businessCard.getCompanyAddress()}"></div>
        </a>
    </div>
    </div>

</form>

<div id="toast" style="display: none">
    <div class="weui_mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-toast"></i>
        <p class="weui-toast-content"></p>
    </div>
</div>

<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js" ></script>
<script src="http://resali.huobanplus.com/cdn/layer/3.0.3/layer.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.3/jquery-weui.min.js"></script>
<script src="../../resources/js/businesscard.js" ></script>

</body>
</html>