<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<link rel="stylesheet" type="text/css" href="css/css/search.css"/>-->
    <!--smatUI应用样式要放在新的上面-->
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.3/weui.min.css">
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.3/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/weui.min-geren-diy.css" th:href="@{/resources/css/weui.min-geren-diy.css}">
    <link rel="stylesheet" type="text/css" href="../../resources/css/weui.min-xz-diy.css" th:href="@{/resources/css/weui.min-xz-diy.css}"/>
    <title>微信名片</title>
</head>
<style>
    .right-xx{
        position: absolute;
        right: 0px;
        color: #fff;
        top: 17px;
    }
    .right-dd{
        background: #9d9d9d;
        border-radius: 10px 0px 0px 10px;
        padding: 0px 10px 0px 20px;
        margin:15px 0px;
    }

</style>
<body class="ddbg" js-cancelfollow-url="cancelFollow">

<input id="customerId" type="hidden" th:value="${businessCard.getSalesman().getCustomerId()}">
<input id="salesmanId" type="hidden" th:value="${businessCard.getSalesman().getId()}">
<!--<input id="followerId" type="hidden" th:value="${businessCard.getFollowerId()}">-->

<div class="fonthui" style="position:relative">
    <div class="right-xx">
        <p class="right-dd js-data-numberOfFollower" th:text="${'已关注'+businessCard.getNumberOfFollowers()+'人'}"></p>
        <p class="right-dd js-data-cancelFollow-div"><a href="javascript:void(0);" style="color: #fff" id="cancelFollow" th:if="${businessCard.getIsFollowed()}">取消关注</a> </p>
    </div>
    <div class="grsbg" style="padding: 20px 0px;">
        <img style="border-radius: 50px; width: 100px;  height: 100px;" th:src="${businessCard.getBusinessCard().getAvatar()}? (${businessCard.getBusinessCard().getAvatar().isEmpty()} ? '../../resources/images/mrtx.jpg' : ${businessCard.getBusinessCard().getAvatar()} ): '../../resources/images/mrtx.jpg'" >
        <div class="grsname">
            <p><b style="color: #fff;" th:text="${businessCard.getSalesman().getRealName()}"></b>
                <!--<i style="margin-left:5px; color: #fff" th:if="${businessCard.getSalesman().getUserGender().equals('男')}">♂</i>&lt;!&ndash;♂切换性别&ndash;&gt;-->
                <!--<i style="margin-left:5px; color: #fff" th:if="${businessCard.getSalesman().getUserGender().equals('女')}">♀</i>-->
                <!--<i style="margin-left:5px; color: #fff" th:if="${businessCard.getSalesman().getUserGender().equals('男')}" th:text="${businessCard.getSalesman().getUserGender()}"></i>-->
                <i style="margin-left: 5px;color: #fff" th:text="${businessCard.getSalesman().getUserGender().equals('男')}? '♂' : (${businessCard.getSalesman().getUserGender().equals('女')} ? '♀' : ${businessCard.getSalesman().getUserGender()}) "></i>

                <!--<i style="margin-left: 5px;color: #fff" th:text="${businessCard.getSalesman().getUserGender().equals('男')}?'♂':  ${businessCard.getSalesman().getUserGender().equals('女')} ? '♀': ${businessCard.getSalesman().getUserGender()}"></i>-->
            </p>
            <p><b style="color: #fff;" th:text="${businessCard.getBusinessCard().getJob()}"></b></p>
        </div>
    </div>
</div>
<!--end-->
<div class="weui_cells weui_cells_access">
    <a class="weui_cell" th:href="${'tel:'+mobile}">
        <div class="weui_cell_bd weui_cell_primary">
            <p>手机：<span class="detial-xx" th:text="${mobile}"></span><i class="title-num">一键保存或拨号</i></p>
        </div>
    </a>
    <a class="weui_cell" href="javascript:void(0)">
        <div class="weui_cell_bd weui_cell_primary">
            <p>电话：<span class="detial-xx" th:text="${businessCard.getBusinessCard().getTel()}"></span></p>
        </div>
    </a>
    <a class="weui_cell" href="javascript:void(0)">
        <div class="weui_cell_bd weui_cell_primary">
            <p>QQ：<span class="detial-xx" th:text="${businessCard.getBusinessCard().getQq()}"></span></p>
        </div>
    </a>
    <a class="weui_cell" href="javascript:void(0)">
        <div class="weui_cell_bd weui_cell_primary">
            <p>邮箱：<span class="detial-xx" th:text="${businessCard.getBusinessCard().getEmail()}"></span></p>
        </div>
    </a>
    <a class="weui_cell" href="javascript:void(0)">
        <div class="weui_cell_bd weui_cell_primary">
            <p>企业：<span class="detial-xx" th:text="${businessCard.getBusinessCard().getCompanyName()}"></span></p>
        </div>
    </a>
    <a class="weui_cell" href="javascript:void(0)">
        <div class="weui_cell_bd weui_cell_primary">
            <p>地址：<span class="detial-xx" th:text="${businessCard.getBusinessCard().getCompanyAddress()}"></span></p>
        </div>
    </a>
</div>

</div>
<!--end-->


<p style="height:60px; clear:both"></p>

<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js" ></script>
<script>
    $(function(){
        $("#cancelFollow").click(cancelFollow);
        //$cancelFollow.click(cancelFollow);

        function cancelFollow() {
            var url = $('body').attr("js-cancelfollow-url");
            var customerId = $("#customerId").val();
            var salesmanId = $("#salesmanId").val();
            //var followerId = $("#followerId").val();
            var data ={customerId:customerId,salesmanId: salesmanId};
            $.ajax({
                url:url,
                type:"post",
                dataType:"json",
                data: data,
                success:function (data) {
                    console.log(data);
                    if( data.code == 200 ) {
                        $(".js-data-numberOfFollower").text("已关注"+data.data.numberOfFollower+"人");
                        data.data.isFollowed ? $(".js-data-cancelFollow-div").show() : $(".js-data-cancelFollow-div").hide();
                    }else{
                        alert( data.msg );
                    }
                },
                error:function (error) {
                    console.log(error);
                }
            });
        }
    })


</script>

</body>
</html>
