.bubble-container {
  position: fixed;
  top: .1rem;
  left: 0;
  z-index: 888;
}

.bubble-container.hide {
  display: none;
}

@-webkit-keyframes hidebubble {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes hidebubble {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes showbubble {
  0% {
    opacity: 0;
    display: block;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showbubble {
  0% {
    opacity: 0;
    display: block;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bubble-list {
  transition: all 1s;
}

.bubble-item {
  display: block;
  transition: height .8s, opacity .8s, transform 1s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  height: .27rem;
  opacity: 100;
}

.bubble-item span {
  background: rgba(89, 89, 89, 0.7);
  color: #fff;
  height: .22rem;
  line-height: .22rem;
  padding: 0 .1rem;
  font-size: .1rem;
  border-radius: .11rem;
  display: inline-block;
}

.bubble-item::after {
  display: block;
  height: 0.05rem;
}

.bubble-item.show {
  -webkit-transform: translate3d(0.1rem, 0, 0);
  transform: translate3d(0.1rem, 0, 0);
}

.bubble-item.leave {
  visibility: hidden;
  height: 0;
}

.bubble-item.hide {
  opacity: 0;
}

.bubble-list.scroll .bubble-item:last-child {
  position: absolute;
  bottom: 0;
}
